* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}

/* Add More Design */

.addMoreMain {
  padding-top: 50px;
}
button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  color: white !important;
  border-radius: 5px;
  background-color: rgb(6, 112, 6);
}
input {
  height: 30px;
  outline: none;
}
.addChildBtn {
  background-color: rgb(83, 81, 81);
}
.parent-content {
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
  width: 45%;
}
.removeBtn {
  background-color: brown;
}

.child {
  margin-top: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid gray;
}
.tableContent {
  float: right;
}
td {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
  width: 150px;
}

th {
  padding: 5px;
}

.hide {
  display: none;
}
