* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}

/* Calculator Starts here */

input {
  width: 70px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
  color: black;
  outline: none;
}
button {
  width: 70px;
  height: 40px;
  margin: 5px;
  color: black;
  font-size: 18px;
  border: 1px solid gray;
  outline: none;
}
#equalBtn {
  width: 150px;
}
.calculator {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 100px 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#getInput {
  margin: 10px;
  width: 470px;
  height: 50px;
  outline: none;
  text-align: right;
  padding-right: 10px;
}


