* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}

/* Slider  */

.slider {
  padding-top: 80px;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  font-size: 30px;
  color: white;
  transition: 0.4s ease;
  user-select: none;
}

#next {
  right: 15px;
}
#prev {
  left: 15px;
}
#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.slider-images {
  display: none;
  position: relative;
}
.image-title {
  position: absolute;
  top: 5%;
  left: 5%;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: serif;
  font-style: italic;
  font-weight: 900;

text-shadow: 0 2px 1px rgb(182, 140, 63), 
-1px 3px 1px rgb(100, 62, 31), 
-2px 5px 1px rgb(116, 89, 41);
              
}
.active {
  display: block;
}

.slider-images img {
  height: 600px;
  border-radius: 20px;
}
.slider-images {
  transition: 0.5s ease-in-out;
}

.dot {
  padding: 10px;
  width: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.76);
  top: 0;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  display: inline;
  cursor: pointer;
}
.dots {
  text-align: center;
}

.onOff-buttons {
  text-align: center;
  padding-top: 5px;
}

.onOff-buttons button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: navy;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.onOff-buttons button:hover {
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.activeForDot,
.dot:hover {
  background-color: navy;
  opacity: 1;
  transition: 0.4s ease-in;
}
