* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}

/* Wizard Form  */

.wizard-form {
  padding-top: 50px;
}

.heading {
  letter-spacing: 5px;
  text-align: center;
}

.steps {
  display: flex;
  margin: 20px 190px 25px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gray;
}
.steps button {
  color: rgb(6, 70, 59);
  font-size: 20px;
  margin-top: 30px;
  padding: 10px 100px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid gray;
  background-color: white;
  cursor: pointer;
}
input {
  width: 30%;
  outline: none;
  height: 35px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 50px;
}

#female,
#male,
#agree {
  width: auto;
  height: auto;
}

#agree {
  margin-top: 20px;
  margin-left: 10px;
}
button {
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 20px 0px;
}
.gender {
  margin-right: 50px;
}
#favoriteSport {
  width: 32%;
  height: 35px;
}
.wizard-form .active {
  display: block;
  color: black;
  border: 1px solid gray;
  border-bottom: none;
}
.wizard-form .activeContent {
  display: block;
}
.ip-form {
  display: none;
  padding-left: 200px;
  height: 300px;
}
#prevbtn {
  float: left;
  margin-right: 100px;
  margin-left: 100px;
}
#submitBtn {
  float: left;
}
#txtarea {
  width: 32%;
}

#myTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 120px;
}

td,
th {
  border: 1px solid gray;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.bs-timepicker {
  margin-right: 80px;
}
#gender-error {
  float: right;
  padding-right: 500px;
}
.error {
  color: red;
  margin-left: 10px;
}
#myTable_wrapper {
  margin-top: 70px;
}
