* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}

/* Calendar Start here */

.calendar {
  margin: 50px 250px 0px;
}
.heading {
  text-align: center;
  color: #a87f32;
  letter-spacing: 2px;
  margin-bottom: 20px;
  padding-top: 5px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.currentMonthYear {
  float: left;
  font-size: 20px;
  margin-left: 335px;
  margin-top: 10px;
  text-transform: uppercase;
}
.arrows {
  background-color: #a87f32;
  height: 50px;
  color: white;
}

.arrows button {
  color: #a87f32;
  border: none;
  cursor: pointer;
  margin-top: 17px;
}
.leftArrow {
  float: left;
  margin-left: 20px;
}
.rightArrow {
  float: right;
  margin-right: 20px;
}
.leftArrow:hover,
.rightArrow:hover {
  background-color: #a85432;
  color: rgb(219, 218, 216);
  transition: .2s ease;
}
table {
  margin-top: 15px;
  margin-left: 10px;
  /* height:300px; */
}
table th {
  padding: 12px 45px;
  border: gainsboro 1px solid;
  border-left: none;
  border-right: none;
}

table td:hover {
  background-color: #a87f32;
  opacity: .6;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
table td {
  padding: 10px 52px;
  border: #8a8783 1px solid;
}
.bgTodysDate {
  background-color: #a87f32;
}
.bgFindDate {
  background-color: #63cdf779;
}


.bottumContent {
  padding: 8px 41px;
  margin: 10px 13px;
  outline: none;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  border: #a87f32 solid 1.5px;
  border-radius: 5px;
}
