* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.timer-section,
.heading {
  text-align: center;
}

.timer-section div {
  display: inline-block;
}

.btns {
  text-align: center;
}

.inputs {
  text-align: center;
  margin: 20px;
}
.inputs input {
  width: 500px;
  height: 40px;
  padding-left: 10px;
  outline: none;
}

button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  color: gray;
  border: solid 1px gray;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}
#start {
  color: green;
  border: solid 1px green;
}
h4 {
  border: 1px solid gray;
  padding: 10px 50px;
  margin: 0%;
  font-size: 30px;
}
.timer-section p {
  border: 1px solid gray;
  padding: 10px 50px;
  margin: 0%;
  font-size: 20px;
}
h6 {
  font-size: large;
}
.disablebtn {
  color: gray;
  border: solid 1px gray;
}

.log-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

#statusaDemo {
  width: 600px;
  text-align: center;
  padding: 10px 50px;
  border-radius: 5px;
  border: solid 1px gray;
}

.logs {
  display: flex;
  justify-content: center;
}
