



  #content{
    width:500px;
    margin:0 auto;
  }
  .togglebtn{
    height:25px;
    background-color:rgb(0, 255, 242);
    cursor:pointer;
    text-align:center;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:5px;
  }
  .togglePara{
    display:none;
    padding:4px;
    background-color: #ccc;
  }
 
  .togglebtn:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    padding-right: 15px;
   
  }
  
  .active:after {
    content: "\2212";
  }
  

  .mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
  }

  